# Dependencies
node_modules
test

instagram-clone-API-main

/instagram-clone-API-main

clone

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# build folder
dist

# docker volume
data